.currency-converter {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #333333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.switch-icon {
  margin: 0 0.5rem;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.arrow-icon {
  font-size: 1.2rem;
  color: #666666;
}

.result {
  margin-top: 1rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-control {
  display: inline-block;
  position: relative;
  width: 100%;
}

.select-control::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  transform: translateY(-50%);
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.input-control {
  display: inline-block;
  width: 100%;
}

.result p {
  font-size: 18px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}